In [8]:
import seaborn as sns

In [9]:
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [10]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [11]:
for col in df.columns:
  print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [12]:
A=[]
for col in df.columns:
  A.append(col.upper())


df.columns=A

In [14]:
df.head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [15]:
df2=sns.load_dataset("car_crashes")
df.columns=[col.upper for col in df.columns]

In [ ]:
#######################
#[DE]We want to add FLAG at the beginning of the variables with "INS" in the name and NO_FLAG for the others.
# [TR]İsminde "INS" olan değişkenlerin başına FLAG diğerlerine NO_FLAG eklemek istiyoruz.
#######################

# before:
# ['TOTAL',
# 'SPEEDING',
# 'ALCOHOL',
# 'NOT_DISTRACTED',
# 'NO_PREVIOUS',
# 'INS_PREMIUM',
# 'INS_LOSSES',
# 'ABBREV']

# after:
# ['NO_FLAG_TOTAL',
#  'NO_FLAG_SPEEDING',
#  'NO_FLAG_ALCOHOL',
#  'NO_FLAG_NOT_DISTRACTED',
#  'NO_FLAG_NO_PREVIOUS',
#  'FLAG_INS_PREMIUM',
#  'FLAG_INS_LOSSES',
#  'NO_FLAG_ABBREV']

In [33]:
A=[]
for col in df2.columns:
  A.append(col.upper())


df2.columns=A

In [34]:
[col for col in df2.columns if "INS" in col]

['NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_PREMIUM',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_LOSSES']

In [35]:
["FLAG"+col for col in df2.columns if "INS" in col]

['FLAGNO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_PREMIUM',
 'FLAGNO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_LOSSES']

In [36]:
["FLAG_"+col if "INS" in col else "NO_FLAG_"+col for col in df2.columns]

['NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_TOTAL',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_SPEEDING',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_ALCOHOL',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NOT_DISTRACTED',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_PREVIOUS',
 'FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_PREMIUM',
 'FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_LOSSES',
 'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_ABBREV']

In [37]:
df2.columns=["FLAG_"+col if "INS" in col else "NO_FLAG_"+col for col in df2.columns]
df2.columns

Index(['NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_TOTAL',
       'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_SPEEDING',
       'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_ALCOHOL',
       'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NOT_DISTRACTED',
       'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_PREVIOUS',
       'FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_PREMIUM',
       'FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_INS_LOSSES',
       'NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_NO_FLAG_ABBREV'],
      dtype='object')

In [ ]:
#case3:
#######################
# Amaç key'i string, value'su aşağıdaki gibi bir liste olan sözlük oluşturmak.
# Sadece sayısal değişkenler için yapmak istiyoruz.
#######################
#[EN]:
#######################
# The goal is to create a dictionary whose key is a string and value is a list like below.
# We only want to do it for numeric variables.
#######################
# Output:
# {'total': ['mean', 'min', 'max', 'var'],
#  'speeding': ['mean', 'min', 'max', 'var'],
#  'alcohol': ['mean', 'min', 'max', 'var'],
#  'not_distracted': ['mean', 'min', 'max', 'var'],
#  'no_previous': ['mean', 'min', 'max', 'var'],
#  'ins_premium': ['mean', 'min', 'max', 'var'],
#  'ins_losses': ['mean', 'min', 'max', 'var']}

In [39]:
import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [41]:
num_col=[col for col in df.columns if df[col].dtype !="O"]
dic={}
agg_list=["mean","min","max","sum"]

In [43]:
for col in num_col:
  dic[col]=agg_list

{'alcohol': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'total': ['mean', 'min', 'max', 'sum']}

In [45]:
#short way 
new_dict={col:agg_list for col in num_col}
new_dict

{'alcohol': ['mean', 'min', 'max', 'sum'],
 'ins_losses': ['mean', 'min', 'max', 'sum'],
 'ins_premium': ['mean', 'min', 'max', 'sum'],
 'no_previous': ['mean', 'min', 'max', 'sum'],
 'not_distracted': ['mean', 'min', 'max', 'sum'],
 'speeding': ['mean', 'min', 'max', 'sum'],
 'total': ['mean', 'min', 'max', 'sum']}

In [48]:
df[num_col].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [50]:
df[num_col].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000