In [1]:
# Functions,conditions,Loops,Comprehensions

In [2]:
#Functions

print("a")
print("a","b")

print("a","b","c")

a
a b
a b c

In [3]:
print("a","b",sep=".")#seperate boths with punkt'.'
print("a","b",sep="*_*")#seperate boths with *_*

a.b
a*_*b

In [4]:
#Definition a function
def calculate(x):
  print(x*2)

calculate(2)
calculate(20)

4
40

In [5]:
#with two arguments/function with 2 parameters
def summer(arg1,arg2):
  print(arg1+arg2)

summer(10,15)#sum of 10+15
summer(50,22)
summer(arg1=21,arg2=35)#we can alsa put a value as this example

25
72
56

In [6]:
#Docstring>Definition of a functions

def summer(arg1,arg2):
  """
  Sum of two numbers

  Args:
  arg1:int,float
  arg2:int,float

  Returns:
  int,float
  """
  print(arg1+arg2)
summer(7,2)
#we may create a functions but the other coders should also understand why do we write this function. 
#Thats why we have to use Docstring

9

In [7]:
#Statement/body of functions

def say_hi():
  print("Hello")
  print("Hallo")
  print("Silav")
say_hi()

Hello
Hallo
Silav

In [8]:
def say_hi(string):
  print(string)
  print("Hello")
  print("Hallo")
  print("Silav")
say_hi("Mervan Özekinci")

Mervan Özekinci
Hello
Hallo
Silav

In [9]:
def say_hi(string="Matrix"):#if string is not given than default value is Matrix
  print(string)
  print("Hello")
  print("Hallo")
  print("Silav")
say_hi("Mervan Özekinci")
say_hi()

Mervan Özekinci
Hello
Hallo
Silav
Matrix
Hello
Hallo
Silav

In [10]:
def multiplication(a,b):
  c=a*b
  print("Result:",c)
  return c
multiplication(7,2)

Result: 14

14

In [11]:
list_store=[]
def add_element(a,b):
  c=a*b
  list_store.append(c)
  print(list_store)

add_element(1,5)
add_element(5,12)
add_element(25,5)

[5]
[5, 60]
[5, 60, 125]

In [12]:
def divide(a,b=1):
  print(a/b)

divide(5)#here b has a default value if not given
divide(50/3)

5.0
16.666666666666668

In [13]:
#calling a function within a function
def standardization(a,p):
  return a*10/100*p*p

standardization(45,1)

4.5

In [14]:
def all_calculation(varm,moisture,charge,p):
  a=multiplication(varm,charge)
  b=standardization(5,p)
  print(b*10)

all_calculation(1,3,5,15)

Result: 5
1125.0

In [15]:
#Boolean True-False
1==1#True

True

In [16]:
1==2#False

False

In [17]:
1!=2

True

In [18]:
if 1==1:
  print("Yes")

if 1==2:
  print("ooopss")
else:
  print("Check one more time")

Yes
Check one more time

In [19]:
def number_check(number):
  if number==10:
    print("number is 10")
  else:
    print("number is not 10")

number_check(10)
number_check(14)

number is 10
number is not 10

In [20]:
def great_check(number):
  if number>10:
    print("greater than 10")
  elif number<10:
    print("less than 10")
  else:
    print("equal to 10")
great_check(10)
great_check(15)
great_check(5)

equal to 10
greater than 10
less than 10

#loops

In [21]:
student=["Johny","Johnny","Yes","Papa"]
student[0]#first element of list it means 0.index

'Johny'

In [22]:
print("1.index:",student[1])

1.index: Johnny

In [23]:
for s in student:
  print(s)

Johny
Johnny
Yes
Papa

In [24]:
for i in student:
  print(i.upper())#capitalize all letters

JOHNY
JOHNNY
YES
PAPA

In [25]:
for i in student:
  print(i.lower())

johny
johnny
yes
papa

In [26]:
salaries=[100,200,300,400,500]

for salary in salaries:
  print(salary)

100
200
300
400
500

In [27]:
#Case 1:
  # before: "hi my name is john and i am learning python"
  # after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [28]:
who="hi my name is john and i am learning python"

who[0]#>h
who[6]#>n

'n'

In [29]:
def alternating(who):
  new_list=""
  for i in range(len(who)):
    if i%2==0:
      new_list +=who[i].upper()#capitalization of the letter
    else:
      new_list +=who[i].lower()

  print(new_list)

alternating(who)
alternating("Hi i am Mervan Ozekinci and i am Learning Python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN
Hi i aM MeRvAn oZeKiNcI AnD I Am lEaRnInG PyThOn

In [30]:
students = ["John", "Mark", "Venessa", "Mariam"]

for student in students:
    print(student)

for index, student in enumerate(students):
    print(index, student)

John
Mark
Venessa
Mariam
0 John
1 Mark
2 Venessa
3 Mariam

#Case 2:

* Divide Students Function
* Put the students in the double index in one list.
* Put the students with odd index in another list.
* But return these two lists as a single list.

In [33]:
students=["John","Mark","Venessa","Mariam"]

def divide_students(students):
  groups=[[],[]]

  for index,student in enumerate(students):
    if index % 2 == 0:
      groups[0].append(student)
    else:
      groups[1].append(student)
  print(groups)
  return groups

divide_students(students)

[['John', 'Venessa'], ['Mark', 'Mariam']]

[['John', 'Venessa'], ['Mark', 'Mariam']]

In [37]:
st=divide_students(students)
print(st[0])
print(st[1])

[['John', 'Venessa'], ['Mark', 'Mariam']]
['John', 'Venessa']
['Mark', 'Mariam']

In [40]:
#Definition of alternating functions with enumerate

def alternating_with_enumerate(string):
  new_string=""
  for i,letter in enumerate(string):
    if i%2==0:
      new_string+=letter.upper()
    else:
      new_string+=letter.lower()
  print(new_string)
ai="i am the Future of technology for the World"
alternating_with_enumerate(ai)

I Am tHe fUtUrE Of tEcHnOlOgY FoR ThE WoRlD