In [ ]:
#################
#Zip
#################

In [2]:
students=["Trump","Biden","Merkel","Katrin"]
department=["mathematics","statitics","pyhsics","astrnomy"]
age=[50,90,25,18]

list(zip(students,department,age))

[('Trump', 'mathematics', 50),
 ('Biden', 'statitics', 90),
 ('Merkel', 'pyhsics', 25),
 ('Katrin', 'astrnomy', 18)]

In [11]:
list(zip(students,department,age))[2]

('Merkel', 'pyhsics', 25)

In [ ]:
###################
#Lambda,map,filter,reduce
###################

In [13]:
def summer(a,b):
  return a+b

summer(2,5)*9

63

In [15]:
#Lambda
new_sum=lambda a,b :a+b
new_sum(4,5)*8

72

In [18]:
#Map
salaries=[100,200,300,400,500]

def new_salary(x):
  return x*20/100+x
new_salary(5000)

6000.0

In [20]:
for salary in salaries:
  print(new_salary(salary))

120.0
240.0
360.0
480.0
600.0

In [21]:
#Map>>Parametre olarak aldığı fonksiyona, parametre olarak aldığı listenin her elemanını sırasıyla parametre olarak gönderir. 
#[EN]>Sends each element of the list as a parameter to the function it receives as a parameter, respectively. 

list(map(lambda x:x*20/100+x,salaries))

[120.0, 240.0, 360.0, 480.0, 600.0]

In [22]:
#filter>Returns a list of cases where the value returned by the called function is true.
#[TR]>Çağırılan fonksiyonun döndürdüğü değerin true olduğu durumlara göre liste döndürür.

list_store=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x:x%2==0,list_store))

[2, 4, 6, 8, 10]

In [23]:
# REDUCE
from functools import reduce
list_store = [1, 2, 3, 4]
reduce(lambda a, b: a + b, list_store)

10

In [ ]:
#######################
# List Comprehension
#######################

In [24]:
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
    return x * 20 / 100 + x

for salary in salaries:
    print(new_salary(salary))

null_list = []

for salary in salaries:
    null_list.append(new_salary(salary))

null_list = []

for salary in salaries:
    if salary > 3000:
        null_list.append(new_salary(salary))
    else:
        null_list.append(new_salary(salary * 2))

1200.0
2400.0
3600.0
4800.0
6000.0

In [25]:
[new_salary(salary*2) if salary<3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

In [26]:
[salary*2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [32]:
print("salaries:",salaries)
[salary*2 for salary in salaries if salary<3000]

salaries: [1000, 2000, 3000, 4000, 5000]

[2000, 4000]

In [34]:
[salary*2 if salary<3000 else salary*0 for salary in salaries]

[2000, 4000, 0, 0, 0]

In [44]:
[new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]

[2400.0, 4800.0, 720.0, 960.0, 1200.0]

In [45]:
students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]


[student.lower() if student in students_no else student.upper() for student in students]
[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']